@media only screen and (max-width: 760px){

    .main-header nav{position:relative;}

    .main-header nav.main-nav ul.main-menu{
        position: absolute;
        left: -350px;
        top: 50px;
        background-color: #ada49d;
        display: block;
        padding: 30px 100px;
        transition: .6s ease-in-out;
    }

    .main-header nav.main-nav img#dotMenu{
        transform: rotate(0);
        transition: .3s ease-in-out;
    }
    .main-header nav.main-nav img#dotMenu.on{
        transform: rotate(45deg);
    }

    .main-header nav.main-nav ul.on{
        left: -20px;
    }
    .main-header nav.main-nav ul.main-menu>li{
        display: block;
        padding-bottom: 20px;
    }

    .main-header nav.main-nav a.burger{
        visibility: visible;
        font-family: 'Coda', cursive;
    }

    .projets ul{height: inherit;}
    .projets li{
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .projets a .bg{
        left: 0;
    }

    article .container{
        flex-direction: column;
    }
    article img.intro{
        width: 100%;
        height: 20%;
        padding-bottom: 20px;
    }
    article .content{width: 100%;}

    article.article-2 img.intro,
    article.article-4 img.intro{
        order: 1;
    }
    article.article-2 .content,
    article.article-4 .content{
        order: 2;
    }

}
