body{
    cursor: url('../images/mouse.svg'), auto;
}
button,
button.uk-icon:not(:disabled){
    cursor: url('../images/mouse.svg'), pointer;
}

body{
    font-family: 'Shrikhand', cursive;
    font-size: 16px;
    background-blend-mode: saturation;
    background-repeat: repeat;

}
body.baby{
    background-image:
    linear-gradient(#fff, #fff),
    url('../images/bg/kawai1.png');
}
body.cat{
    background-image:url('../images/bg/kawai2.png');
    background-blend-mode: normal;
}

.rel{position: relative;}
.pt70{padding-top: 70px;}

.container{
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}
.header-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #1f4354;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
}
header{

}
header ul{
    padding: 10px 0;
}
header li{
    width: 50px;
    margin-right: 15px;
    text-align: center;
}

header ul li button{padding: 5px;}
/* GAMEOVER */
#screen{
    position: absolute;
    background: url('../images/bg/screen.jpg');
    background-blend-mode: color-burn;
    background-repeat: repeat;
    top: 70px;
    left: 0;
    height: calc(100vh - 70px);
    width: 100%;
    z-index: 5;
    background-color: #e0effd;
    text-align: center;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
}
#screen .content{
    padding-top: 33vh;
    width: 350px;
    display: inline-block;
}
#screen #screenPoints{
    color: #e6420f;
    border-radius: 30px;
    padding: 50px 20px;
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}
.uk-modal-body{background-color: #fffaea;}
#modal-center button{transition: .7s ease}
#modal-center button:hover{
    border: 0px;
    border-radius: 20px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
}
#modal-center img{
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
    margin: 20px 0 40px;
    padding: 30px 30px;
    border-radius: 60px;
    background-color: #fff;
    animation: happy 1s cubic-bezier(0.4, 0, 1, 1) infinite;
}
#modal-center p{
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 3px;
    color: #53a2d2;
}
#modal-center p.title{
    text-decoration: underline;
}
#modal-center span.fm{
    font-size: 40px;
}
#screen p,
#modal-center .fl{
    font-family: 'Shrikhand', cursive;
    font-size: 50px;
    line-height: 70px;
    color: #e6420f;
    margin: 0 0 30px;
}
#screen #title{color: #1f4354;}
#screen button{
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    animation: pulse 2s linear infinite;
}

#chrono,
#menuPoints{
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
#chrono{margin-right: 40px;}
#chrono.alert{
    color: #ed0f0f;
    animation: pulse 2s linear infinite;
}

.bonus-cont{
    position: absolute;
    top: 90px;
    left: -120px;
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    transition: .5s ease-in-out;
}
.bonus-cont button{height: 100px;}

.modal-cont{
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.items{
    text-align: center;
    padding-top: 70px;
}

img#need{
    visibility: hidden;
}

img.visible,
img#need.visible{
    visibility: visible;
}

.item-bounce{
    animation: bounce .8s linear infinite;
}

.face-animation{
    animation-name: simpleRotate;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.main-content{
    text-align: center;
}

img#face{
    margin-bottom: 40px;
    cursor: url('../images/hand.svg'), auto;
    max-width: 250px;
}

button{
    background-color: #e6420f;
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    color: #fff;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 15px;
    outline:none;
    transition: .3s ease-in-out;
}

button:hover{
    background-color: #fff;
    color: #e6420f;
    border: 1px solid #e6420f;
}

#answer{
    display: flex;
    justify-content: center;
}
#answer button{
    margin-right: 20px;
    transform: scale(0);
}
#answer button.default-size{
    transform: scale(1);
}
#answer button.false{background-color: #c50505;}
#answer button.false:hover{border: 1px solid #c50505;}
#answer button.true{background-color: #1ec40a;}
#answer button.true:hover{border: 1px solid #1ec40a;}
#answer button.true:hover,
#answer button.false:hover{color: #fff;}
